<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <a th:href="@{http://pawserver.it.itba.edu.ar/paw-2021b-2/}">
        <img style="max-width: 300px;" class="textlogo"
             src="https://cdn.discordapp.com/attachments/851847371851956334/887501017170731058/PopCultTextLogo.png"/>
    </a>
    <div>
        <h2 th:text="#{collabConfirmEmail.greeting (${collabUsername})}"></h2>
        <p th:text="#{collabConfirmEmail.message(${listname})}"></p>
        <span th:text="#{collabConfirmEmail.options}"></span>
        <a th:href="@{http://pawserver.it.itba.edu.ar/paw-2021b-2/lists/{listid}(listid=${listId})}">
            <button style="background-color: transparent;border: none;color: blueviolet;font-size:20px;text-align: left;text-decoration: underline"
                    th:text="#{collabConfirmEmail.here}"></button>
        </a>
        <br>
        <p th:text="#{collabConfirmEmail.closing}"></p>
        <br><br>
        <p th:text="#{collabEmail.close}"></p>
    </div>
</div>
</body>
</html>