<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <a th:href="@{http://pawserver.it.itba.edu.ar/paw-2021b-2/}">
        <img style="max-width: 300px;" class="textlogo" src="https://cdn.discordapp.com/attachments/851847371851956334/887501017170731058/PopCultTextLogo.png"/>
    </a>
    <div>
        <h2 th:text="#{email.report.greeting}"></h2>
        <p th:text="#{email.deleted.list}"></p>
        <i th:text="${list}"></i><br>
        <i th:text="${listDescription}"></i>
        <p th:text="#{email.deleted.list.reason}"></p>

        <br>
        <p th:text="#{email.close}"></p>
    </div>
</div>
</body>
</html>