<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <a th:href="@{{basePath}(basePath=${basePath})}">
        <img style="max-width: 300px;" class="textlogo" src="https://cdn.discordapp.com/attachments/851847371851956334/887501017170731058/PopCultTextLogo.png"/>
    </a>
    <div>
        <p th:text="#{email.report.greeting}"></p>
        <p th:text="#{email.deleted.list}"></p>
        <strong><i th:text="${list}"></i></strong><br>
        <i th:text="${listDescription}"></i>
        <p th:text="#{email.deleted.list.reason}"></p>
        <i th:text="${report}"></i>
        <br>
        <p th:text="#{email.close}"></p>
    </div>
</div>
</body>
</html>