<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <a th:href="@{http://localhost:8080/webapp_war/}">
        <img style="max-width: 300px;" class="textlogo" src="https://cdn.discordapp.com/attachments/851847371851956334/887501017170731058/PopCultTextLogo.png"/>
    </a>
    <div>
        <p th:text="#{email.mod.greeting}"></p>
        <p th:text="#{email.mod.removed.body}"></p>
        <p th:text="#{email.mod.close}"></p>
        <br>
        <p th:text="#{email.close}"></p>
    </div>
</div>
</body>
</html>