<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <img style="max-width: 300px;" class="textlogo" src="https://cdn.discordapp.com/attachments/851847371851956334/887501017170731058/PopCultTextLogo.png"/>
    <div>
        <h2 th:text="#{email.greeting}"></h2>
        <p th:text="#{email.welcome (${username})}"></p>
        <p th:text="#{email.confirm}"></p>
        <a th:href="@{http://localhost:8080/webapp_war/register/confirm(token=${token})}">
            <button style="background-color: #b23cfd;border: none;color: white;padding: 10px;text-align: center;border-radius: 20px;" th:text="#{email.verify}"></button>
        </a>

        <br><br>
        <p th:text="#{email.close}"></p>
    </div>
</div>
</body>
</html>