<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
  <a th:href="@{http://pawserver.it.itba.edu.ar/paw-2021b-2/}">
    <img style="max-width: 300px;" class="textlogo" src="https://cdn.discordapp.com/attachments/851847371851956334/887501017170731058/PopCultTextLogo.png"/>
  </a>
  <div>
    <p th:text="#{email.resetPassword.welcome (${username})}"></p>
    <p th:text="#{email.resetPassword.request}"></p>
    <a th:href="@{http://pawserver.it.itba.edu.ar/paw-2021b-2/resetPassword(token=${token})}">
      <button style="background-color: #b23cfd;border: none;color: white;padding: 10px;text-align: center;border-radius: 20px;" th:text="#{email.resetPassword}"></button>
    </a>
    <p th:text="#{email.resetPassword.ignore}"></p>
    <br><br>
    <p th:text="#{email.close}"></p>
  </div>
</div>
</body>
</html>